.benefit-card {
    position: relative;
    padding: 32px 66px 32px 32px;
    background-color: #000000;
    border-radius: $default-radius;
    overflow: hidden;
    &__title {
        color: #FFFFFF;
    }
    &__description {
        color: rgba(#FFFFFF, .5);
    }
    &__title, &__description {
        position: relative;
        display: inline;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        z-index: 1; // to be on top of the img
    }
    &--wide {
        grid-column: span 2; // better if this would be passed from the top
    }
    &--background {
        background-position: center;
        background-size: cover;
    }
    &--onethird {
        padding: 32px 66% 32px 32px;
    }
    &--twothirds {
        padding: 32px 33% 32px 32px;
    }
    &__figure {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        &--bordered {
            left: -15px;
            bottom: -18px;
            border: 2px solid #2F2F2F;
            border-top-right-radius: 32px;
            .benefit-card__image {
                border: 13px solid #121212;
                border-top-right-radius: 32px;
                box-sizing: border-box;
            }
        }
    }
    &__image {
        max-width: 100%;
    }
    &__note {
        position: absolute;
        left: 32px;
        bottom: 32px;
        z-index: 1;
    }
    &__label, &__text {
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
    }
    &__label {
        color: rgba(#FFFFFF, .5);
    }
    &__text {
        color: #FFFFFF;
    }
}