.bundle {
    padding: 16px;
    background-color: #F2F2F2;
    border-radius: $default-radius;
    &__products {
        img {
            width: 40px;
            height: 40px;
            & + img {
                margin-left: 12px;
            }
        }
    }
    &__name {
        margin-top: 32px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
    &__price {
        margin-top: 8px;
        div {
            display: inline-block;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: #000000;
            &+div {
                color: #BFBFBF;
                text-decoration: line-through;
            }
        }
    }
    &__footer {
        margin-top: 64px;
        position: relative;
        > .btn {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__description {
        width: 300px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }
}