<div class="bundle {{class}}">
    <div class="bundle__products">
        <img src="assets/images/icons/PSA.svg" alt="PSA logo">
        <img src="assets/images/icons/PCO.svg" alt="PCO logo">
        <img src="assets/images/icons/POW.svg" alt="POW logo">
    </div>
    <h3 class="bundle__name">Physical Addons Bundle</h3>
    <div class="bundle__price">
        <div>${{ promo ? (price_bundle * ( 1 - discount))| number_format(2, '.', '') : price_bundle }}</div>
        <div>{{ promo ? '$' ~ price_bundle : '' }}</div>
    </div>
    <footer class="bundle__footer">
        <p class="bundle__description">
        All our addons are designed to work together seamlessly. With PCO, you can add planets above the PSA atmosphere to create unique and eye-catching skies while POW allows to create stunning seas and oceans.
        </p>
        <a href="https://blendermarket.com/products/physical-starlight-and-atmosphere?variant=9114" class="btn btn--primary" target="_blank">Select</a>
    </footer>
</div>
