.benefit-card {
    position: relative;
    padding: 32px 20% 32px 32px; // 67px
    background-color: #000000;
    border-radius: $default-radius;
    overflow: hidden;
    @include respond-below(lg) {
        padding: 32px; 
    }
    @include respond-below(sm) {
        padding: 16px;
        padding-right: 52px;
    }

    &__message {
        max-width: 430px;
    }
    &__title {
        color: #FFFFFF;
    }
    &__description {
        color: rgba(#FFFFFF, .5);
        > a {
            color: inherit;
        }
    }
    &__title, &__description {
        position: relative;
        display: inline;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        z-index: 1; // to be on top of the img
        @include respond-below(sm) {
            font-size: 12px;
        }
    }
    // exceptions
    &__list {
        position: absolute;
        left: 32px;
        bottom: 32px;
        > li {
            line-height: 40px;
            color: #FFFFFF;
            > img {
                float: left;
                margin-right: 12px;
                width: 40px;
                height: 40px;
            }
            &+li {
                margin-top: 16px;
            }
        }
        @include respond-below(sm) {
            left: 16px;
            bottom: 16px;
        }
    }
    &--wide {
        grid-column: span 2; // better if this would be passed from the top
        @include respond-below(sm) {
			grid-column: auto;
            .benefit-card__figure {
                width: 110%;
            //     left: -200px;
            //     right: 16px !important;
            }
		}
        
    }
   
    &__figure {
        position: absolute;
        top: 0;
        bottom: -2px;
        left: 0;
        right: 0;

        // bordered wide
        .benefit-card--wide &--bordered {
            width: 85%;
            top: auto;
            left: -15px;
            bottom: -18px;

            //bordered wide on mobile
            @include respond-below(sm) {
                width: 120%;
                left: -35%;
                // bottom: -18px;
            }
        }

        // bordered small
        &--bordered {
            width: 120%;
            top: auto;
            left: -35%;
            bottom: -18px; // border - offset
            border: 2px solid #2F2F2F;
            border-top-right-radius: 32px;
            .benefit-card__image, .benefit-card__video {
                border: 13px solid #121212;
                border-top-right-radius: 32px;
                box-sizing: border-box;
            }

            //bordered small/wide on mobile
            @include respond-below(sm) {
                width: 120%;
                left: -35%;
                // bottom: -18px;
            }
        }
    }
    &__image, &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    // .imageDemo {
    //     @include backgroundImage('/assets/images/benefits/benefits-demo.webp', '/assets/images/benefits/benefits-demo2x.webp');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    // &__demoBlock {
    //     padding: 64px 64px 64px calc(50% + 64px); 
	// 	height: 216px;
	// 	margin: 2px;
    // 	margin-top: 12px;
    //     h3 {
    //         font-size: 20px; 
    //         display: block;
    //         span {
    //             background: radial-gradient(
    //                 79.17% 79.17% at 25% 12.5%,
    //                 #a479ff 45.31%,
    //                 #ae01ff 100%
    //             ),#ffffff;
    //             -webkit-background-clip: text;
    //             -webkit-text-fill-color: transparent;
    //             background-clip: text;
    //             text-fill-color: transparent;
    //         }
    //     }
    //     h4 {
    //         font-size: 12px;
    //         margin-top: 16px;
    //         display: block;
    //         margin-bottom: 32px;
    //         a {
    //             height: 12px;
    //         }
    //     }
    //     .tooltip {
	// 		img {
	// 			opacity: 0.5;
	// 		}
	// 	}
    //     .imageDemo {
    //         width: calc(50% + 8px);
    //         height: 300px;
    //         @include respond-below(sm) {
    //             width: 90%;
    //             height: 250px;
    //         }
	// 	}
    //     .infotrgr2:hover+.infomsg2 {
	// 		display: block;
	// 	}
	// 	.infomsg2 {
	// 		position: absolute;
	// 		left: calc(-50% + -8px);
	// 		top: calc(100% + 10px);
	// 		box-sizing: border-box;
	// 		width: 280px;
	// 		padding: 16px;
	// 		display: none;
	// 		border-radius: $default-radius;
	// 		box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
	// 		background-color: #1E1E1E;
	// 		color: rgba(#FFFFFF, .7);
	// 		z-index: 2;
	// 		font-size: 12px;
	// 		font-weight: 300;
	// 		line-height: 1.2;
	// 		&:before {
	// 			position: absolute;
	// 			content: "";
	// 			display: block;
	// 			width: 20px;
	// 			height: 20px;
	// 			background-color: #1E1E1E;
	// 			left: calc(50% - 16px);
	// 			transform: rotate(45deg);
	// 			top: -6px;
	// 			z-index: 1;
	// 		}
	// 		&::after {
	// 			content: "";
	// 			position: absolute;
	// 			display: block;
	// 			width: 100%;
	// 			height: 20px;
	// 			background-color: transparent;
	// 			left: 0px;
	// 			top: -15px;
	// 			z-index: 3;
	// 		}
	// 		&:hover {
	// 			display: block;
	// 		}
	// 		a {
	// 			color: rgba(#FFFFFF, .7);
	// 		}
	// 	}
    //     @media (max-width: 500px) {
    //         padding: 32px 64px 60% 32px;
    //         .demoImage {
    //             left: -16px !important;
    //             top: 225px;
    //         }
    //         .infotrgr2 {
    //             display: none;
    //         }
    //     }
    // }



    &__note {
        position: absolute;
        left: 32px;
        bottom: 32px;
        z-index: 1;
    }
    &__label, &__text {
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
    }
    &__label {
        color: rgba(#FFFFFF, .5);
    }
    &__text {
        color: #FFFFFF;
    }

    &__comp1, &__comp2 {
        position: absolute;
        bottom: 70px;
        color : #FFFFFF;
        font-size: 16px;
        font-weight: 500;
    }
    &__comp1 {
        left: 18%;
    }
    &__comp2 {
        right: 18%;
    }
}