.controls {
    sup {
        margin-left: 1px;
        position: relative;
        top: -0.5em;
        font-size: 80%;
        > a {
            text-decoration: none;
        }
    }
    .heroBlock {
        @include backgroundImage('/assets/images/controls/addon-controls.jpg', '/assets/images/controls/addon-controlsx2.jpg');
    }

    &__footnotes {
        padding-top: 16px;
        
        list-style-position: inside;
        list-style-type: decimal;
        padding-left: 1.5em;
        
        > li {
        margin-bottom: 0.5em;
        text-indent: -14px;
        margin-left: 1em;
        text-align: justify;
        line-height: 1.5;
        font-size: 12px;
            > a {
                text-decoration: none;
                color: inherit;
            }
        }
        
    }
}