
{% set data = {
    controls : [
        {
            "title": "HAPKE BRDF [reference]",
            "description": "
Our shading model combines HAPKE BRDF and Single Scatter Albedo, providing scientifically accurate results. Texture each planet with albedo, roughness, height, and emission maps, all supported through a PBR workflow.<br><br>
- Single Scatter Albedo [reference]<br>
    - Textured Planets<br>
    - Use PBR workflow<br>
    <p style='padding-left: 2em;'>
        - Albedo<br>
        - Roughness<br>
        - Height<br>
        - Emission
    </p>
"
        },
        {
            "title": "Planets",
            "description": "
Planets with real-world measurements and scale them down for easier use. Multiple rotation and positioning options. Each sphere interacts with lighting, casting realistic shadows and indirect light effects on other planets.<br><br>
- Input Real World Scale & Scale down<br>
- Move and Rotate different methods<br>
- Spheres, multiple planets cast shadows & indirect light
            "
        },
        {
            "title": "Phases",
            "description": "
Each layer in your planet’s atmosphere can be fine-tuned for realistic light behavior, using the Draine Phase model with Cornette-Shanks, Rayleigh for molecular scattering, and Mie for aerosol scattering. <br><br>
- For individual layers<br>
- Draine Phase model [reference]<br>
<p style='padding-left: 2em;'>
- Includes Cornette-Shanks, ? [reference]<br>
- Molecular Phase (Rayleigh)<br>
- Aerosol Phase (Mie)
</p>

"
        },
        {
            "title": "6 Layer atmosphere",
            "description": "
Rich atmospheres with six interactive layers that scatter, absorb, and emit light naturally. Each layer casts shadows, with texture-driven density and height profiles for added realism, including options for stunning procedural auroras.<br><br>
- Layers Sum and Absorb<br>
- Single Scattering Model<br>
- Scatter, Absorb & Emit<br>
- Cast shadows<br>
- Texture-driven Density & Height Profile<br>
- Procedural Aurora texture

"
        },
        {
            "title": "Spectral rendering",
            "description": "
Precise light wavelengths to achieve accurate color representation in your scenes.<br><br>
- Input coefficients for 470, 650, 700 𝑛m wavelengths
"
        },
        {
            "title": "Rings",
            "description": "
Stunning, customizable rings that cast realistic shadows onto the planet and atmosphere. This creates a rich interplay of light and shadow, perfect for cinematic planetary visuals.<br><br>
- Shadows<br>
- Indirect Light
"
        },
        {
            "title": "Background Stars",
            "description": "
A procedurally generated star background to offer an out of the box a universe-like look.
            "
        },
    ]
}
%}

<div class="controls block" id="controls">

    <div class="heroBlock">

        <h2 class="controls__title">
		    Technical Specification
	    </h2>

    </div>

	<div class="controls__table">

        <table>
            {% for control in data.controls %}
            <tr>
                <td><h4>{{control.title}}</h4></td>
                <td>
                    <p>
                        {{control.description}}
                    </p>
                </td>
            </tr>   
            {% endfor %}
        </table>

	</div>
</div>



{# {% include "../../../../shared/blocks/controls/controls.twig" with data only %} #}