.controls {

    &__title {
        @extend .h2;
    }

    .heroBlock {
        background: black;
        // @include backgroundImage('/assets/images/controls/addoncontrols.webp', '/assets/images/controls/addoncontrols2x.webp');
        @include backgroundImage('/assets/images/controls/controls.jpg', '/assets/images/controls/controlsx2.jpg');
        background-repeat: no-repeat;
        background-position: top 0 right 0;
        background-size: cover;
        position: relative;
        width: 100%;
        padding-bottom: 40%;
        overflow: hidden;
        border-radius: $default-radius;
        margin-bottom: 32px;

        .h2 {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 32px;
        }
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        padding-left: 16px;
        padding-right: 16px;

        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 140%;
            padding-left: 8px;
        }
      
        th, td {
            padding: 8px 0px 32px 0px;
            text-align: left;
            border-top: 1px solid #DCDCDC;
            vertical-align: top;
        }
        tr:last-child td{
            border-bottom: 1px solid #DCDCDC; 
        }
      
          
        th + th,
        td + td {
            border-left: 1px solid #DCDCDC;
        }

        th:nth-child(1), td:nth-child(1) {
            width: 30%;
        }
        
        th:nth-child(2), td:nth-child(2) {
            width: 70%;
        }
        
    }

    @media (max-width: 500px) {

        h2 {
            padding: 16px !important;
            font-size: 32px;
        }

        table {
            display: block;
            border-bottom: none;

            p {
                padding-left: 0px;
                margin-bottom: 0px;
                font-weight: 400;
                font-size: 14px;
            }
        }
      
        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px !important;
            border: none !important;
        }
      
        td,
        th {
            display: block;
            padding: 8px 0px 8px 0px !important;
            width: 100% !important;
            border-top: none !important;
            border-left: none !important;
            margin-right: 8px !important;
        }
      
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }

}
