<div class="controls block" id="controls">

    <div class="heroBlock">

        <h2 class="controls__title">
		    Addon controls
	    </h2>

    </div>

	<div class="controls__table">

        <table>
            <tr>
                <td><h4>Presets</h4></td>
                <td><p>Access and manage a library of ocean presets. Save, or delete existing presets and create new ones for quick setup and customization.</p></td>
            </tr>
            <tr>
                <td><h4>Mesh</h4></td>
                <td><p>Mesh Size: dictates the overall dimensions of the ocean simulation, allowing for scaling the water body to suit the scene's size requirements. Mesh Resolution: controls the granularity of the water surface, enhancing the realism of waves and ripples, essential for achieving both broad ocean vistas and detailed close-up views.</p></td>
            </tr>
            <tr>
                <td><h4>Material</h4></td>
                <td><p>Customize the ocean's material properties, including color and subsurface scatterning to achieve the desired look.</p></td>
            </tr>
            
            <tr>
                <td><h4>Camera & LOD</h4></td>
                <td><p>Configure camera settings and Level of Detail (LOD) for optimal rendering at various distances, ensuring high performance without sacrificing visual quality.</p></td>    
            </tr>
            <tr>
                <td><h4>Waves</h4></td>
                <td><p>Fine-tune the wave patterns, adjust their amplitude and frequency to simulate everything from calm seas to turbulent storms.</p></td>
            </tr>
            <tr>
                <td><h4>Capillary Waves</h4></td>
                <td><p>This feature allows for the simulation of small surface waves caused by surface tension, providing an additional layer of realism to close-up scenes.</p></td>
            </tr>
            <tr>
                <td><h4>Wakes</h4></td>
                <td><p>Simulate the trails and disturbances left by objects moving through the water, adding dynamism and interaction to the scene.</p></td>
            </tr>
        </table>

	</div>
</div>