<div class="notes block" id="notes">

    <h2 class="notes__title">
	    Creator notes
    </h2>

	<div class="notes_table">

        <table>
        
            <tr>
                <td><h4>The complexity of the atmosphere</h4></td>
                <td><p>We float through and breathe the atmosphere, we see it every day and we take it for granted. Most of us don't even care to understand why the sky looks like it does. We just naturally can look at the photo of the sky and tell that it feels like a cold winter morning, hot summer evening, dusk, or dawn.<br><br>So even though replicating those moments would seem like a trivial task, the more you dig into it, the more you understand the complexity of it. There are many concepts at work that make the skylight look and feel right and we always don’t have the time and patience to do our own research. This is why we made the PSA - skylight system we wish existed when we started doing CGI! </p></td>
            </tr>
            <tr>
                <td><h4>How is this different from other solutions?</h4></td>
                <td><p>As an artist you don’t want to feel limited by software, so PSA offers you unlimited customization possibilities. It is not tied only to Earth’s atmosphere like other analytical sky models (Preethan, Hosek-Wilkie, or Nishita), but lets you make even alien landscapes in a binary star system. Lighting is procedurally calculated based on real-world physics, therefore even your craziest input values will offer physically correct lighting. And the crazy thing - all of it is calculated in real-time, so it works in Eevee just as well as Cycles.<br><br>One special feature PSA has - is volumetric. Unlike HDRIs that are, basically, spheres around the scene, our sky fills your Blender scene with air (or any gas of your liking) where density at the ground level is the highest and in the space - lowest, then a Star illuminates the air using physics laws.<br><br>Sun and Skylight is the dominating light source for outdoors and most of the time - indoors too. PSA does not only make the sky and atmosphere, it simulates the Sun object scattering through the atmosphere.</p></td>
            </tr>
            <tr>
                <td><h4>Why procedural skies?</h4></td>
                <td><p>Procedural skies are more common in the games industry, and there the industry has developed way past the static HDRIs, skyboxes, or skydomes.<br><br>The industry is still using the good old HDRI light probe method to do outdoor lighting, and for a good reason - it is the simplest way to simulate realistic lighting conditions, without worrying that it will look wrong. After all, it is a 360° snapshot of a real environment.<br><br>HDRI probes unfortunately are not able to capture one crucial aspect - the fact that the sky is dynamic. The sky is not just a membrane of the imaginary rim of the sky, it has volume. The sky's the atmosphere and the atmosphere is a physical medium consisting of a blend of gases. The sky literally starts just outside of your eyeball and extends to outer space. Sunlight travels through this medium illuminating, scattering, and absorbing in it.<br><br>Physical Starlight and Atmosphere is a product 2 years in active development and a culmination of at least a decade of research and development.</p></td>
            </tr>
            <tr>
                <td><h4>Awesome time (and money) saver!</h4></td>
                <td><p>We have been using it for a few projects and this tool has already saved us many hours of work and hundreds if not thousands of euros on HDRi probes.<br><br>We did the test!<br><br>With the HDRI probe method, it usually took us at minimum 2 hours per project to find the best matching environment map (desired sun position, overcast or not, urban or greens, camera altitude, etc.). Then buying it, setting it in the scene, waiting for data to load, render, fine-tune, render... till you get the desired result.<br><br>Then we used this tool and matched the lighting in minutes. That puts things in perspective. </p></td>
            </tr>

        </table>

	</div>
</div>