 <div class="hero block" id="hero">

    <div class="tabs">
        <div class="label">Our Addons</div>
        <a class="tab" target="_blank" href="https://blendermarket.com/products/physical-starlight-atmosphere" ><span>PSA</span>Atmosphere</a>
        <a class="tab" target="_blank" href="https://blendermarket.com/products/physical-celestial-objects"><span>PCO</span>Planets</a>
        <a class="tab active" href="#"><span>POW</span>Oceans</a>
    </div>

    <div class="bigBlock">
        <h1>Cinematic & Procedural<br>Open Waters</h1>
        <h2>Build photorealistic seas and oceans with one click.<br>Real time responsiveness in Eevee allows you to prototype<br>stunning scenes in seconds.</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/l5VqXl1BU_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <img class="logoWall" src="assets/images/logoWall.svg"></img>
        <img class="logoWall2" src="assets/images/logoWall2.svg"></img>
        <p class="bigBlock__notice">Our products are used by creators from:</p>
    </div>

</div>