$tooltip-padding-top: 8px;

.tooltip {
    position: relative;
    height: 12px; 
    display: inline-block;
    // cursor: pointer;
    img {
        position: absolute;
    }
    
    &__content {
        box-sizing: border-box;
        display: none;
        position: absolute;
        top: calc(100% + $tooltip-padding-top);
        width: 280px;
        padding: 16px;

        border-radius: $default-radius;
        box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 32px rgba(17,17,26,0.05);
        background-color: #1E1E1E;
        color: #ffffffbd;
        z-index: 2;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;

        a {
            color: white !important;
        }
        &::before {
            content:"";
            position: absolute;
            display: block;
            left: 0px;
            top: -$tooltip-padding-top;
            width: 100%;
            height: $tooltip-padding-top;
        }
    }
    &:hover .tooltip__content {
        display: block;
    }

    &--right &__content {
        right: -16px;
        border-top-right-radius: 0;
    }
    &--left &__content {
        border-top-left-radius: 0;
    }
}