.testimonial-card {
    position: relative;
    margin-right: 12px;
    // width: 64%;
    height: 470px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #000000;
    border-radius: $default-radius;
    
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        font-size: 32px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.1;
        color: #FFFFFF;
    }

    &__info {
        position: absolute;
        bottom: 32px;
        left: 32px;
        right: 32px;
    }
    
    &__description {
        width: 250px;
        margin-bottom: 20px;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
        color: rgba(#FFFFFF, .5);
    }

    &__author {
        font-size: 16px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
        color: rgba(#FFFFFF, .5);
        em {
            color: #FFFFFF;
        }
    }
}