.testimonial-card {
    position: relative;
    margin-right: 12px;
    // width: 64%;
    height: 470px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #000000;
    border-radius: $default-radius; 
    
    background-size: cover;
    background-repeat: no-repeat;
    
    &--case-study &__title {
        &:before {
            display: block;
            margin-bottom: 6px;
            content: url('/assets/images/icons/case-study.svg');
        }
    }
    &--no-br &__author{
        @include respond-below(sm) {
            br {
                display: none;
            }
        }
    }

    @include respond-below(sm) {
        padding: 16px;

    }


    &__title {
        font-size: 32px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.1;
        color: #FFFFFF;
        &:before {
            display: block;
            margin-bottom: 6px;
            content: url('/assets/images/icons/quote.svg');
        }
        @include respond-below(sm) {
            font-size: 28px;
        }
    }

    &__info {
        position: absolute;
        bottom: 32px;
        left: 32px;
        right: 32px;
        @include respond-below(sm) {
            bottom: 16px;
            left: 16px;
            right: 32px;
        }
    }
    
    &__description {
        width: 250px;
        margin-bottom: 20px;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
        color: rgba(#FFFFFF, .5);
        @include respond-below(sm) {
            width: auto;
        }
    }

    &__author {
        font-size: 16px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.4;
        color: rgba(#FFFFFF, .5);
        em {
            color: #FFFFFF;
        }
    }

    &.imageBen {
        @include backgroundImage('/assets/images/testimonials/ben.webp', '/assets/images/testimonials/ben2x.webp');
    }
    &.imageRenault {
        @include backgroundImage('/assets/images/testimonials/renault.webp', '/assets/images/testimonials/renault2x.webp');
    }
    &.imageTralie {
        @include backgroundImage('/assets/images/testimonials/james.webp', '/assets/images/testimonials/james2x.webp');
    }
    &.imageSubin {
        @include backgroundImage('/assets/images/testimonials/subin.webp', '/assets/images/testimonials/subin2x.webp');
    }
    &.imageScott {
        @include backgroundImage('/assets/images/testimonials/scott.webp', '/assets/images/testimonials/scott2x.webp');
    }
    &.imageRyan {
        @include backgroundImage('/assets/images/testimonials/ryan.webp', '/assets/images/testimonials/ryan2x.webp');
    }

}