<div class="testimonial-card" style="background-image: url('{{background}}')">
    <h3 class="testimonial-card__title">{{title}}</h3>
    <div class="testimonial-card__info">
        <p class="testimonial-card__description">{{description}}</p>
        <div class="testimonial-card__author">{{author}}</div>
    </div>
</div>