{% set benefits = [
	{
		'size': 2,
		'title': 'Pre-made presets.',
		'description': 'Save time and effort with pre-made presets, providing you with a list of ready-to-use settings that can instantly transform your scene and serve as a starting point for further customization.',
		'image': {
			'src':'assets/images/benefits/benefits-presets.gif',
            'style': 'right: 64px;',
            'border': true
		},
        'padding': 'benefit-card--twothirds'
    },
    {
        'size': 1,
        'title': 'Realtime speed and performance.',
        'description': 'Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback of your projects in Blender.',
        'image': {
            'src':'assets/images/benefits/benefits-realtime.gif',
            'style': 'right: 32px;',
            'border': true
        }
    },
    {
        'size': 1,
        'title': 'Animation options for every feature. ',
        'description': 'Use keyframes to effortlessly animate each feature, giving you the ability to bring your scenes to life with a dynamic and captivating atmosphere and light tailored to your specific needs.',
        'image': {
            'src':'assets/images/benefits/benefits-animationx2.jpg'
        }
    },
    {
        'size': 2,
        'title': 'Highly customizable for full creative freedom.',
        'description': 'User-friendly interface, allowing even beginners to create stunning visuals with ease. Simply adjust the settings, and watch your scene transform.',
        'background': 'assets/images/benefits/benefits-freedomx2.jpg',
        'author': 'Jonas Fornerod',
        'padding': 'benefit-card--onethird'
    },
    {
        'size': 1,
        'title': 'User-friendly interface',
        'description': 'allowing even beginners to create stunning visuals with ease. Simply adjust the settings, and watch your scene transform.',
        'image': {
            'src':'assets/images/benefits/benefits-controls.gif',
            'style': 'right: 32px;',
            border: true
        }
    },
    {
        'size': 1,
        'title': 'Works on Eevee & Cycles.',
        'description': 'This product seamlessly integrates with both Eevee and Cycles render engines, ensuring compatibility and consistent results across your favorite rendering platforms.',
        'image': {
            'src':'assets/images/benefits/benefits-eeveecycles.jpg'
        },
        'comparison': true
    },
    {
        'size': 1,
        'title': 'Real physical values',
        'description': ' based on photometric measurements for sun and sky luminance.',
        'image': {
            'src':'assets/images/benefits/benefits-realvalues.jpg'
        }
    },
    {
        'size': 1,
        'title': 'ACES colour space',
        'description': ' is built in our addon',
        'image': {
            'src':'assets/images/benefits/benefits-acesx2.jpg'
        }
    },
]%}
<div class="benefits block" id="benefits">
    <h2 class="benefits__title">Why did <em>10'000+</em> users<br> choose PSA?</h2>
    <div class="benefits__grid">
		{% for benefit in benefits %}
        {% include '../../partials/benefit-card/benefit-card.twig' with benefit only %}
        {% endfor %}
    </div>

    <div class="benefit-card benefit-card--wide benefit-card--onethird benefit-card--background demoBlock">
            <h3 class="benefit-card__title" style="font-size: 20px; display: block;">Demo version <span style="background: radial-gradient(79.17% 79.17% at 25% 12.5%, #A479FF 45.31%, #AE01FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;">$5</span></h3>
            <h4 class="benefit-card__description tooltip-parent" style="font-size: 12px; margin-top: 16px; display: block; margin-bottom: 32px;">
                Try out PSA addon in your scene with Earth preset and limited controls to feel magic in your Blender
                <a class="tooltip tooltip--right" style="height: 12px;">
                    <img src="assets/images/icons/info-white.svg" alt="Info icon">
                    <div class="tooltip__content">
                        + Pay only the difference upgrading<br>
                        + No commercial or personal licence<br>
                        + Control only sun rotation<br>
                        + Earth preset only
                    </div>
                </a>

            </h4>
            <div>
                <a href="https://blendermarket.com/products/physical-starlight-and-atmosphere" class="btn btn--primary" target="_blank">Try Now</a>
            </div>
            <figure class="benefit-card__figure benefit-card__figure--bordered demoImage" style="right: calc(50% + 6px);">
                <img class="benefit-card__image" src="assets/images/benefits/benefits-demo.jpg" alt="">
            </figure>
    </div>
</div>