{% set benefits = [
	{
		'size': 2,
		'title': 'Pre-made presets.',
		'description': 'Save time and effort with pre-made presets, providing you with a list of ready-to-use settings that can instantly transform your scene and serve as a starting point for further customization.',
		'image': {
			'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
		},
    },
    {
        'size': 1,
        'title': 'Realtime speed and performance.',
        'description': 'Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback of your projects in Blender.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 1,
        'title': 'Animation options for every feature. ',
        'description': 'Use keyframes to effortlessly animate each feature, giving you the ability to bring your scenes to life with a dynamic and captivating atmosphere and light tailored to your specific needs.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 2,
        'title': 'Highly customizable for full creative freedom.',
        'description': 'User-friendly interface, allowing even beginners to create stunning visuals with ease. Simply adjust the settings, and watch your scene transform.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 1,
        'title': 'User-friendly interface',
        'description': 'allowing even beginners to create stunning visuals with ease. Simply adjust the settings, and watch your scene transform.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 1,
        'title': 'Works on Eevee & Cycles.',
        'description': 'This product seamlessly integrates with both Eevee and Cycles render engines, ensuring compatibility and consistent results across your favorite rendering platforms.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 1,
        'title': 'Real physical values',
        'description': ' based on photometric measurements for sun and sky luminance.',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
    {
        'size': 1,
        'title': 'ACES colour space',
        'description': ' is built in our addon',
        'image': {
            'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg'
        }
    },
]%}
<div class="benefits" id="benefits">
    <h2 class="benefits__title">Why did <em>10'000+</em> users choose PSA?</h2>
    <div class="benefits__grid">
		{% for benefit in benefits %}
        {% include '../../partials/benefit-card/benefit-card.twig' with benefit %}
        {% endfor %}
    </div>
</div>