{% set benefits = [
	{
		'size': 2,
		'title': 'No compromise precision.',
		'description': 'You are free to scale up your planets using real-world measurements and distances without having to worry about precision loss, z-flighting, and shadow distances.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/feature-1.webm',
            'mp4': '/assets/images/benefits/feature-1.mp4',
        }
    },
    {
		'size': 1,
		'title': 'Realtime speed and performance.',
		'description': 'Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/feature-2.webm',
            'mp4': '/assets/images/benefits/feature-2.mp4',
        }
    },
    {
		'size': 1,
		'title': 'Pre-made planets.',
		'description': 'Save time and effort with pre-made planetary systems, that can instantly transform your scene and serve as a starting point for further customisation.',
		'image': {
			'src':'/assets/images/benefits/feature-3.webp',
            'srcx2':'/assets/images/benefits/feature-3x2.webp',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'Planetary rings',
		'description': 'can be customized to build eye-catching worlds. Rings interact with the atmosphere and the planet surface - cast shadows and indirect light.',
		'image': {
			'src':'/assets/images/benefits/feature-4.webp',
            'srcx2':'/assets/images/benefits/feature-4x2.webp',
            'alt': '',
		}
    },
    {
		'size': 1,
		'title': 'Animate everything.',
		'description': 'Use keyframes to effortlessly animate each feature, giving you the ability to bring your scenes to life.',
		'image': {
			'src':'/assets/images/benefits/feature-5.webp',
            'srcx2':'/assets/images/benefits/feature-5x2.webp',
            'alt': '',
		}
    },
    {
		'size': 1,
		'title': 'Intuitive Planet Positioning.',
		'description': 'When you work in celestial sizes, intuitive positioning is a must. You can position planets using orbital, global, or viewer transform.',
        'framed': true,
		'video': {
            'webm': '/assets/images/benefits/feature-6.webm',
            'mp4': '/assets/images/benefits/feature-6.mp4',
        }
    },
    {
		'size': 2,
		'title': 'Cinematic Atmosphere.',
		'description': 'Our atmosphere is built with a multi-layer system. You can assign properties to each layer to build your own unique atmospheres. Our physics based ray-marcher takes care of mixing it all together.',
		'image': {
			'src':'/assets/images/benefits/feature-7.webp',
            'srcx2':'/assets/images/benefits/feature-7x2.webp',
            'alt': '',
		}
    },
    {
		'size': 1,
		'title': 'Save time.',
		'description': 'PCO saves hours that usually are invested in solving issues that come up when you decide to create planetary-scale worlds.',
		'framed': true,
        'video': {
            'webm': '/assets/images/benefits/feature-8.webm',
            'mp4': '/assets/images/benefits/feature-8.mp4',
        }
    },
    {
		'size': 1,
		'title': 'Works on Eevee & Cycles.',
		'description': 'Our addon seamlessly integrates with both Eevee and Cycles render engines, ensuring compatibility and consistent results across your favorite rendering platforms.',
		'image': {
			'src':'/assets/images/benefits/feature-9.webp',
            'srcx2':'/assets/images/benefits/feature-9x2.webp',
            'alt': '',
		},
        'comparison': true
    },
    {
		'size': 2,
		'title': 'Lights up your scene.',
		'description': 'Our addon is calculated in World node shader that automatically acts as environment light and illuminates your scene without having to add fake lights manually.',
		'image': {
			'src':'/assets/images/benefits/feature-10.webp',
            'srcx2':'/assets/images/benefits/feature-10x2.webp',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'Physically acurrate shading.',
		'description': 'Our planet surface lighting model is based on <a href="https://en.wikipedia.org/wiki/Hapke_parameters" target="_blank">Hapke BRDF</a> specifically designed for celestial bodies. Raytraced soft shadows are cast from planets. Indirect light bounces from lit parts of planets.',
		'image': {
			'src':'/assets/images/benefits/feature-11.webp',
            'srcx2':'/assets/images/benefits/feature-11x2.webp',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'All our addons work together',
		'description': 'to make procedural worlds you won\'t be able to distinguish from reality.',
		'image': {
			'src':'/assets/images/benefits/feature-12.webp',
            'srcx2':'/assets/images/benefits/feature-12x2.webp',
            'alt': '',
		},
        'list': true
    },
    
]
%}

<div class="benefits block" id="benefits">
    <h2 class="benefits__title">
        Features
    </h2>

    <div class="benefits__grid">
        {% for benefit in benefits %}
        {% include '../../partials/benefit-card/benefit-card.twig' with benefit only %}
        {% endfor %}
    </div>

</div>


<script>
// this should trigger playback of safari mobile videos
document.addEventListener('DOMContentLoaded', (event) => {
    const videoElements = document.querySelectorAll('.benefit-card__video');
    if (videoElements.length > 0) {
        document.body.addEventListener('click', function() {
            videoElements.forEach(video => {
                video.play();
            });
        });
    }
});
</script>