
<div class="benefits block" id="benefits">
    <h2 class="benefits__title">
        Features (nav pabeigts - vajag standartizēt blokus un veidu kā tos pievienojam)
    </h2>

    <div class="benefits__grid">


        <div class="benefit-card benefit-card--wide benefit-card--twothirds">
            <h3 class="benefit-card__title">No compromise precision.</h3>
            <p class="benefit-card__description">
                You are free to scale up your planets using real-world measurements and distances without having to worry about precision loss, z-flighting, and shadow distances.
            </p>
            <div class="benefit-card__screenImage videoContainer">
                <img src="/assets/images/benefits/features-1x2.jpg" alt="">
                    {# <img src="/assets/images/hero/001-big-box-2x.jpg" alt=""> #}
                    {# <video autoplay loop muted> #}
                        {# <source src="/assets/images/benefits/presetsBig.webm" type="video/webm"> #}
                        {# <source src="https://placehold.co/1200x600/red/white.mp4" type="video/mp4"> #}
                        {# <img src="/assets/images/hero/001-big-box-2x.jpg" alt=""> #}
                    {# </video> #}
  
        </div>
        </div>

        <div class="benefit-card">
            <h3 class="benefit-card__title">Realtime speed and performance.</h3>
            <p class="benefit-card__description">
                Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback.
            </p>
            <div class="benefit-card__screenImage smallScreenImage videoContainer videoContainerSmall image2">
                <img src="/assets/images/benefits/features-2x2.jpg" alt="">
                    {# <video autoplay loop muted>
                        <source src="/assets/images/benefits/realtime.webm" type="video/webm">
                        <source src="https://placehold.co/800x600/red/white.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> #}
            </div>
        </div>




        <div class="benefit-card">
            <h3 class="benefit-card__title">
                Animate everything.
            </h3>
            <p class="benefit-card__description">
                Use keyframes to effortlessly animate each feature and bring your ocean to life.
            </p>
            <div class="benefit-card__backgroundImage image3"></div>
        </div>

        <div class="benefit-card benefit-card--wide benefit-card--onethird image4">
            <h3 class="benefit-card__title">
                Full creative freedom.
            </h3>
            <p class="benefit-card__description">
                User-friendly interface, allowing even beginners to create stunning oceans with ease. Adjust the settings, and watch your scene transform in real time.
            </p>
            <div class="benefit-card__note">
                <div class="benefit-card__label">Artwork by</div>
                <div class="benefit-card__text">Jonas Fornerod</div>
            </div>
        </div>

        <div class="benefit-card">
            <h3 class="benefit-card__title">User-friendly interface</h3>
            <p class="benefit-card__description">
                allowing even beginners to create stunning visuals with ease. Simply adjust the settings, and watch your ocean transform.
            </p>
            <div class="benefit-card__screenImage smallScreenImage image5">
                
            </div>
            <div class="benefit-card__screenImage smallScreenImage videoContainer videoContainerSmall image5">
                <video autoplay loop muted>
                    {# <source src="/assets/images/benefits/controls.webm" type="video/webm"> #}
                    <source src="https://placehold.co/800x600/red/white.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="benefit-card">
            <h3 class="benefit-card__title">Eevee & Cycles</h3>
            <p class="benefit-card__description">
                integrates seamlessly ensuring compatibility and consistent results across your favorite rendering platforms.
            </p>
            <div class="benefit-card__backgroundImage image6"></div>
            <figure class="benefit-card__figure">
                <div class="benefit-card__comp1">Eevee</div>
                <div class="benefit-card__comp2">Cycles</div>
            </figure>
        </div>

        <div class="benefit-card benefit-card--wide benefit-card--onethird image7">
            <h3 class="benefit-card__title">All our addons work together</h3>
            <p class="benefit-card__description">
                to make procedural worlds you won't be able to distinguish from reality. 
            </p>
            <ul class="benefit-card__list">
                <li>
                    <img src="assets/images/icons/psa_transparent.svg">
                    Atmosphere
                </li>
                <li>
                    <img src="assets/images/icons/pco_transparent.svg">
                    Planets
                </li>
                <li>
                    <img src="assets/images/icons/pow_transparent.svg">
                    Ocean
                </li>
            </ul>
        </div>

    </div>

</div>
