{% set features = [
    {
        'size': 2,
        'title': 'Pre-made presets.',
        'description': 'Save time and effort with pre-made presets, providing you with a list of ready-to-use settings that can instantly transform your scene and serve as a starting point for further customization.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/feature-1.webm',
            'mp4': '/assets/images/benefits/feature-1.mp4'
        }
    },
    {
        'size': 1,
        'title': 'Realtime speed and performance.',
        'description': 'Quickly set up scenes with pre-made, customizable planets modeled on the solar system, saving time and enhancing visual realism instantly.',
        'image': {
            'src': '/assets/images/benefits/feature-3.jpg',
            'srcx2': '/assets/images/benefits/feature-3x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Optimized Rendering for Planetary Scales.',
        'description': 'Our custom rendering system solves issues like volumetric distances and precision errors, letting you work with planetary sizes without quality loss.',
        'video': {
            'mp4': '/assets/images/benefits/planetary_scale.mp4'
        }
    },
    {
        'size': 2,
        'title': 'All our addons work together',
        'description': ' to make procedural worlds you won\'t be able to distinguish from reality.',
        'list': true,
        'image': {
            'src': '/assets/images/benefits/feature-3.jpg',
            'srcx2': '/assets/images/benefits/feature-3x2.jpg',
            'alt': ''
        }
    },
] %}

{# {% set features = [
    {
        'size': 2,
        'title': 'Scientific Shading Model for Realistic Planet Textures',
        'description': 'Our shading model combines HAPKE BRDF and Single Scatter Albedo, providing scientifically accurate results. Texture each planet with albedo, roughness, height, and emission maps, all supported through a PBR workflow.',
        'image': {
            'src': '/assets/images/benefits/feature-11.jpg',
            'srcx2': '/assets/images/benefits/feature-11x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Planetary Scale, Shadows, and Lighting Made Easy',
        'description': 'Build planets with real-world measurements and scale them down for scene flexibility. Multiple rotation and positioning options. Each sphere interacts with lighting, casting realistic shadows and indirect light effects on other planets.',
        'image': {
            'src': '/assets/images/benefits/feature-4.jpg',
            'srcx2': '/assets/images/benefits/feature-4x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Realistic Color Tones with Wavelength Control',
        'description': 'Input precise light wavelengths to achieve accurate color representation in your scenes. With 470, 650, and 700 𝑛m coefficients, you can create atmospheres that respond naturally to light.',
        'image': {
            'src': '/assets/images/benefits/feature-3.jpg',
            'srcx2': '/assets/images/benefits/feature-3x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 2,
        'title': 'Create Lifelike Atmospheres with Light Scattering Layers',
        'description': 'Each layer in your planet’s atmosphere can be fine-tuned for realistic light behavior, using advanced models to mimic natural haze and fog. This layered approach allows for lifelike depth and color transitions that respond dynamically to lighting.',
        'image': {
            'src': '/assets/images/benefits/feature-7.jpg',
            'srcx2': '/assets/images/benefits/feature-7x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Six-Layer Atmosphere with Realistic Light Effects',
        'description': 'Create rich atmospheres with six interactive layers that scatter, absorb, and emit light naturally. Each layer casts shadows, with texture-driven density and height profiles for added realism, including options for stunning procedural auroras.',
        'image': {
            'src': '/assets/images/benefits/feature-8.jpg',
            'srcx2': '/assets/images/benefits/feature-8x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Realistic Planetary Rings with Shadows',
        'description': 'Create stunning, customizable rings that cast realistic shadows onto the planet and atmosphere. This creates a rich interplay of light and shadow, perfect for cinematic planetary visuals.',
        'image': {
            'src': '/assets/images/benefits/feature-10.jpg',
            'srcx2': '/assets/images/benefits/feature-10x2.jpg',
            'alt': ''
        }
    },
    {
        'size': 2,
        'title': 'Procedural Stars',
        'description': 'A procedurally generated star background offers a universe-like look, while the sun casts light that brings life and dimension to the planets within this starry cosmos.',
        'image': {
            'src': '/assets/images/benefits/feature-12.jpg',
            'srcx2': '/assets/images/benefits/feature-12x2.jpg',
            'alt': ''
        }
    }
] %} #}


<div class="benefits block" id="benefits">
    <h2 class="benefits__title">
        Features
    </h2>

    <div class="benefits__grid">
        {% for feature in features %}
        {% include '../../../../shared/partials/benefit-card/benefit-card.twig' with feature only %}
        {% endfor %}
    </div>

</div>

{# <div class="benefits block" id="features">
    <h2 class="benefits__title">
        Features
    </h2>

    <div class="benefits__grid">
        {% for feature in features %}
        {% include '../../../../shared/partials/benefit-card/benefit-card.twig' with feature only %}
        {% endfor %}
    </div>

</div> #}




<script>
// this should trigger playback of safari mobile videos
document.addEventListener('DOMContentLoaded', (event) => {
    const videoElements = document.querySelectorAll('.benefit-card__video');
    if (videoElements.length > 0) {
        document.body.addEventListener('click', function() {
            videoElements.forEach(video => {
                video.play();
            });
        });
    }
});
</script>