<div class="updates block" id="updates">

    <h2 class="updates__title">
	    Upcoming updates
    </h2>

    <table class="updates__table">
    
        <tr>
            <td>
                <h4>1.2</h4>
                <div>Dec 24th</div>
            </td>
            <td>
                <h5>Underwater Coustics</h5>
                <p>intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. </p>
                <h5>Object interactions</h5>
                <p>intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>1.3</h4>
            </td>
            <td>
                <h5>10 New Presets</h5>
                <p>intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. intuitively tunable parameters for specific lighting conditions. </p>
            </td>
    </table>
</div>