<div class="updates block" id="updates">

    <h2 class="updates__title">
	    Next Updates
    </h2>

    <table class="updates__table">
        <tr>
            <td>
                <h4>1.3</h4>
            </td>
            <td>
                <h5>Caustics and Sun Rays</h5>
                <p>Simulates realistic light interactions underwater and in the atmosphere. It enhances scenes with dynamic sun rays and caustics patterns, adding depth and realism. This tool is ideal for creating vivid, lifelike aquatic and sunlit environments. </p>
                <h5>Foam accumulation</h5>
                <p>Realistically simulates the gathering of foam in aquatic environments. It enhances water bodies with dynamic, natural-looking foam at shores and on wave crests. This addition brings a new level of detail and realism to oceanic and coastal scenes. </p>
                <h5>✅ <s>Object Interactions</s></h5>
                <p>Enhance the dynamic interaction between objects and their environments. This includes object-based wave generation (wakes), and interactive environmental responses (ripples). These features add a layer of realism and physics-based authenticity to scene simulations.</p>
            </td>
    </table>
</div>