<div class="updates block" id="updates">

    <h2 class="updates__title">
	    Next Updates
    </h2>

    <table class="updates__table">
        <tr>
            <td>
                <h4>1.3</h4>
            </td>
            <td>
                <h5>Gabor Waves for Realism</h5>
                <p>We're switching from simple sine waves to Gabor noise, bringing more natural and detailed wave motion to ocean simulations. This method enhances realism, making water surfaces look more organic and visually convincing. </p>
            </td>
    </table>
</div>