<div class="updates block" id="updates">

    <h2 class="updates__title">
	    Next Updates
    </h2>

    <table class="updates__table">
    
        <tr>
            <td>
                <h4>1.1</h4>
                <div>Dec 2023</div>
            </td>
            <td>
                <h5>Long distance realistic wave tiling </h5>
                <p>Ensuring that wave patterns remain coherent and natural-looking over vast distances. This eliminates repetitive patterns, providing a seamless visual experience for expansive maritime scenes.</p>
                <h5>Volumetric underwater fog</h5>
                <p>Underwater fog feature brings to life the depth and mystery of underwater scenes with realistic fog simulation. It captures the diffused light and reduced visibility found in aquatic environments. This enhancement adds a new layer of immersion to underwater landscapes.</p>
                <h5>Transition to underwater</h5>
                <p>Seamlessly transition as the camera moves from air to water. It realistically shows how water interacts with camera lense enhancing the immersion of diving or emerging scenes. This feature provides a smooth and authentic transition for underwater cinematography.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>1.2</h4>
            </td>
            <td>
                <h5>Caustics and Sun Rays</h5>
                <p>Simulates realistic light interactions underwater and in the atmosphere. It enhances scenes with dynamic sun rays and caustics patterns, adding depth and realism. This tool is ideal for creating vivid, lifelike aquatic and sunlit environments. </p>
                <h5>Foam accumulation</h5>
                <p>Realistically simulates the gathering of foam in aquatic environments. It enhances water bodies with dynamic, natural-looking foam at shores and on wave crests. This addition brings a new level of detail and realism to oceanic and coastal scenes. </p>
                <h5>Object Interactions</h5>
                <p>Enhance the dynamic interaction between objects and their environments. This includes realistic collision effects, object-based wave generation, and interactive environmental responses. These features add a layer of realism and physics-based authenticity to scene simulations.</p>
            </td>
    </table>
</div>