<div class="comparison block" id="comparison">

	<h2 class="comparison__title">
		HDRI comparison
	</h2>

	<div class="comparison__table">

		<table>
            <tr>
                <th></th>
                <th><h3>PSA</h3><br><p class="lightText">Physical Starlight <br>and Atmosphere</p></th>
                <th><h3>HDRI</h3><br><p class="lightText">High dynamic <br>range image</p></th>
            </tr>
            <tr>
                <td><h4>Filesize</h4></td>
                <td><p>Lightweight. Addon itself - 600kb install file. Each preset less than 1MB</p></td>
                <td><p>Large files for each HDRI up to 4GB</p></td>
            </tr>
            <tr>
                <td><h4>Animation</h4></td>
                <td><p>Animate each parameter in keyframes</p></td>
                <td><p>HDRIs are static</p></td>
            </tr>
            <tr>
                <td><h4>Artistic freedom</h4></td>
                <td><p>Limitless configuration possibilities to build any world you imagine</p></td>
                <td><p>Limited to the captured  HDRI file</p></td>
            </tr>
            <tr>
                <td><h4>Ease of use</h4></td>
                <td><p>One-click presets</p></td>
                <td><p>Setup with 2 nodes</p></td>
            </tr>
            <tr>
                <td><h4>Dynamic interaction</h4></td>
                <td><p>For every parameter</p></td>
                <td><p>HDRIs are static</p></td>
            </tr>
            <tr>
                <td><h4>Fast Workflow</h4></td>
                <td><p>intuitively tunable parameters for specific lighting conditions </p></td>
                <td><p>Significantly longer prototyping for specific lighting conditions</p></td>
            </tr>
        </table>
        
	</div>
</div>