{% set testimonials = [
	{
		'title': 'Feels like magic<br>every time<br>I use it',
		'description': 'Physical Starlight and Atmosphere has been an invaluable tool for me in my personal/professional work and a huge missing link for lighting in Blender. It still feels like magic every time I use it, I can\'t recommend it highly enough!',
        'author': '<em>Ben Mauro</em> Senior Concept<br>Artist at <em>343 Industries</em>',
        'imageClass': 'imageBen',
    },
    {
        'class': 'testimonial-card--case-study',
		'title': 'Result was<br>Photorealistic<br>renders',
		'description': 'Renault built workflow to export thousands of renders for product variations in 360* view. PSA allowed to rapidly test and configure appropriate lighting conditions for this task. Result was consistent and Photorealistic renders for online product builder.',
        'logo': '/assets/images/icons/renault.svg',
        'imageClass': 'imageRenault',
    },
    {
        'class': 'testimonial-card--no-br',
		'title': 'Always gives<br>my work that<br>extra edge',
		'description': 'Physical Starlight and Atmosphere has been an essential add-on for all of my environmental design projects. It gives me such incredibly flexibility and control over the look and feel of my renders. Lighting is key for any project, and this add-on always gives my work that extra edge.',
        'author': '<em>James Tralie</em> Planetary Science<br> Producer and Animator at <em>NASA</em>',
        'imageClass': 'imageTralie',
    },
    {
		'title': 'PSA Gave me<br>more time',
		'description': 'My work life has become super easier since I started using Physical Starlight and Atmosphere, it cut down a lot of technical headache associated with setting up a believable lighting condition and gave me more time to concentrate on the creative part of my design process.',
        'author': '<em>Subin Rajendran</em> Concept Artist',
        'imageClass': 'imageSubin',
    },
    {
		'title': 'Focusing on the<br>mood is super<br>important',
		'description': 'As a lighting artist, focusing on the overall mood of an image is super important. Physical Starlight and Atmosphere is based on reality, so I can spend all of my time iterating on the look without worrying about how to achieve it.',
        'author': '<em>Scott Warren</em> Senior Lighting<br> Artist at <em>Turtle Rock Studios</em>',
        'imageClass': 'imageScott',
    },
    {
		'title': 'I love the tool',
		'description': 'I love the tool. It has been my go-to since I picked it up a couple of months ago.',
        'author': '<em>Ryan Richmond</em> Concept Artist',
        'imageClass': 'imageRyan',
    },
]%}

<div class="block testimonials" id="testimonials">
    <h2 class="testimonials__title">Used by industry leaders</h2> 
    <div class="testimonials__slider">
        {# container that can contain arrows etc. #}
        <div class="siema">
            {% for testimonial in testimonials %}
            {% include '../../partials/testimonial-card/testimonial-card.twig' with testimonial only %}
            {% endfor %}
        </div>
    </div>
</div>