
{% set features = [
    {
        'size': 2,
        'title': 'Pre-made presets.',
        'description': 'Save time and effort with pre-made presets, providing you with a list of ready-to-use settings that can instantly transform your scene and serve as a starting point for further customization.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/presets.webm',
            'mp4': '/assets/images/benefits/presets.mp4'
        }
    },
    {
        'size': 1,
        'title': 'Seamless water transitions.',
        'description': 'Achieve smooth and natural transition between the world above and below, with precise waterline rendering, lifelike light scattering underwater, and underwater atmosphere.',
        'framed': true,
        'video': {
            'mp4': '/assets/images/benefits/transition.mp4'
        }
    },
    {
        'size': 1,
        'title': 'Works on Eevee & Cycles.',
        'description': 'Our addon seamlessly integrates with both Eevee and Cycles render engines, ensuring compatibility and consistent results across your favorite rendering platforms.',
        
        'image': {
            'src': '/assets/images/benefits/eevee-cycles.jpeg',
            'srcx2': '/assets/images/benefits/eevee-cycles.jpeg',
            'alt': ''
        }
    },
    {
        'size': 2,
        'title': 'Full creative freedom.',
        'description': 'User-friendly interface, allowing even beginners to create stunning oceans with ease. Adjust the settings, and watch your scene transform in real time.',
        'shadow': true,
        'author': 'Gints Zilbalodis',
        'image': {
            'src': '/assets/images/benefits/creative-freedom5.jpg',
            'alt': ''
        }
    },
    {
        'size': 1,
        'title': 'Realtime speed and performance.',
        'description': 'Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback of your oceans.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/realtime.webm',
            'mp4': '/assets/images/benefits/realtime.mp4'
        }
    },
    {
        'size': 1,
        'title': 'Animate everything.',
        'description': 'Use keyframes to effortlessly animate each feature and bring your ocean to life.',
        'image': {
            'src': '/assets/images/benefits/benefits-animationx2.jpg',
            'srcx2': '/assets/images/benefits/benefits-animationx2.jpg',
            'alt': ''
        }
    },
    {
        'size': 2,
        'title': 'All our addons work together',
        'description': ' to make procedural worlds you won\'t be able to distinguish from reality.',
        'author': 'Gints Zilbalodis',
        'list': true,
        'shadow': true,
        'image': {
            'src': '/assets/images/benefits/creative-freedom4.jpg',
            'srcx2': '/assets/images/benefits/creative-freedom4.jpg',
            'alt': ''
        }
    },
] %}


<div class="benefits block" id="benefits">
    <h2 class="benefits__title">
        Why did <em>1500+</em> users<br> choose POW?
    </h2>

    <div class="benefits__grid">
        {% for feature in features %}
        {% include '../../../../shared/partials/benefit-card/benefit-card.twig' with feature only %}
        {% endfor %}
    </div>

</div>

<script>
// this should trigger playback of safari mobile videos
document.addEventListener('DOMContentLoaded', (event) => {
    const videoElements = document.querySelectorAll('.benefit-card__video');
    if (videoElements.length > 0) {
        document.body.addEventListener('click', function() {
            videoElements.forEach(video => {
                video.play();
            });
        });
    }
});
</script>