{% set benefits = [
	{
		'size': 2,
		'title': 'Ready to use presets.',
		'description': 'Save time with a list of carefully curated ocean presets that come with the addon, or build your own library.',
        'framed': true,
        'video': {
            'webm': '',
            'mp4': '/assets/images/benefits/presets-new.mp4',
        }
    },
    {
		'size': 1,
		'title': 'Realtime speed and performance.',
		'description': 'Experience unparalleled speed and efficiency with real-time rendering, ensuring smooth performance during both editing and playback of your oceans.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/realtime.webm',
            'mp4': '',
        }
    },
    {
		'size': 1,
		'title': 'Animate everything.',
		'description': 'Use keyframes to effortlessly animate each feature and bring your ocean to life.',
        'image': {
			'src':'/assets/images/benefits/benefits-animation.webp',
            'srcx2':'/assets/images/benefits/benefits-animation2x.webp',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'Full creative freedom.',
		'description': 'User-friendly interface, allowing even beginners to create stunning oceans with ease. Adjust the settings, and watch your scene transform in real time.',
        'author': 'Martins Upitis',
        'image': {
			'src':'/assets/images/benefits/feature-4.jpg',
            'srcx2':'/assets/images/benefits/feature-4x2.jpg',
            'alt': '',
		}
    },
    {
		'size': 1,
		'title': 'User-friendly interface',
		'description': 'allowing even beginners to create stunning visuals with ease. Simply adjust the settings and watch your ocean transform.',
        'framed': true,
        'video': {
            'webm': '/assets/images/benefits/interface.webm',
            'mp4': '',
        }
    },
    {
		'size': 1,
		'title': 'Eevee & Cycles',
		'description': 'integrates seamlessly ensuring compatibility and consistent results across your favorite rendering platforms.',
        'comparison': true,
        'image': {
			'src':'/assets/images/benefits/feature-6.jpg',
            'srcx2':'/assets/images/benefits/feature-6x2.jpg',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'Capillary Waves',
		'description': 'simulates the physics of small-scale, surface-tension-driven waves on water bodies, adding intricate detail to fluid dynamics in aquatic scenes.',
        'image': {
			'src':'/assets/images/benefits/feature-7.jpg',
            'srcx2':'/assets/images/benefits/feature-7x2.jpg',
            'alt': '',
		}
    },
    {
		'size': 2,
		'title': 'All our addons work together',
		'description': 'to create procedural worlds you won\'t be able to distinguish from reality.',
        'list': true,
        'image': {
			'src':'/assets/images/benefits/feature-8.jpg',
            'srcx2':'/assets/images/benefits/feature-8x2.jpg',
            'alt': '',
		}
    }

]%}

<div class="benefits block" id="benefits">
    <h2 class="benefits__title">
        Features
    </h2>

    <div class="benefits__grid">
        {% for benefit in benefits %}
        {% include '../../shared/partials/benefit-card/benefit-card.twig' with benefit only %}
        {% endfor %}
    </div>

</div>


<script>
// this should trigger playback of safari mobile videos
document.addEventListener('DOMContentLoaded', (event) => {
    const videoElements = document.querySelectorAll('.benefit-card__video');
    if (videoElements.length > 0) {
        document.body.addEventListener('click', function() {
            videoElements.forEach(video => {
                video.play();
            });
        });
    }
});
</script>