<div class="notes block" id="notes">

    <h2 class="notes__title">
	    Creator notes
    </h2>


    <table class="notes__table">
        {% for note in notes %}
         <tr>
            <td><h4>{{note.title}}</h4></td>
            <td>{{note.description}}</td>
        </tr>   
        {% endfor %}
    </table>
</div>