.hero {
    .bigBlock {
        padding-top: 128px;
        > h2 {
            margin-bottom: 128px;
            padding: 0 20px;
        }
    }
    .tabs {
        .active {
            background-color: #000000;
        }
    }
    .bigBlock {
        @include backgroundImage('/assets/images/hero/001-big-box.jpg', '/assets/images/hero/001-big-box-2x.jpg');
    }
}