
{% set data = {
	'tabs': [
		{
			'title': '<span>PSA</span>Atmosphere',
			'link': 'https://blendermarket.com/products/physical-starlight-and-atmosphere'
		},
		{
			'active': true,
			'title': '<span>PCO</span>Planets',
			'link': '#'
		},
		{
			'title': '<span>POW</span>Ocean',
            'link': 'https://blendermarket.com/products/physical-open-waters'
		}
	],
    'title': 'Scientifically Accurate Planets for Artists',
    'description': 'Physical Celestial Objects addon lets you craft scientifically accurate, real-time planetary scenes with multi-layer atmospheres, rings and cinematic visuals.',
    'video': 'https://www.youtube.com/embed/jNz014Ffzxs?si=NH8iLtvBdnyzf0EP',
    'notice': true
}
%}
{% include "../../../../shared/blocks/hero/hero.twig" with data only %}