
{% set data = {
	'tabs': [
		{
			'title': '<span>PSA</span>Atmosphere',
			'link': 'https://blendermarket.com/products/physical-starlight-and-atmosphere'
		},
		{
			'active': true,
			'title': '<span>PCO</span>Planets',
			'link': '#'
		},
		{
			'title': '<span>POW</span>Ocean',
            'link': 'https://blendermarket.com/products/physical-open-waters'
		}
	],
    'title': 'Breathtaking planets<br> in a single click',
    'description': 'Physical Celestial Objects Addon allows you to build<br> real-scale planets with multi-layered atmospheres,<br>procedural rings in real time while having<br> cinematic visuals.',
    'video': 'https://www.youtube.com/embed/jNz014Ffzxs?si=NH8iLtvBdnyzf0EP',
    'notice': true
}
%}
{% include "../../../../shared/blocks/hero/hero.twig" with data only %}