 <div class="hero block" id="hero">

    <div class="tabs">
        <div class="label">Our Addons</div>
        <a class="tab active" href="#" ><span>PSA</span>Atmosphere</a>
        <a class="tab" target="_blank" href="https://blendermarket.com/products/physical-celestial-objects"><span>PCO</span>Planets</a>
        <a class="tab" target="_blank" href="https://blendermarket.com/products/physical-open-waters"><span>POW</span>Ocean</a>
    </div>

    <div class="bigBlock">
        <h1>Cinematic atmosphere<br>in a single click</h1>
        <h2>Physical Starlight and Atmosphere is the most popular<br>atmosphere addon for Blender, which is setting the<br>new industry standard for lighting and real-time<br>interactivity with the atmosphere.</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/l5VqXl1BU_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <img class="logoWall" src="assets/images/logoWall.svg"></img>
        <img class="logoWall2" src="assets/images/logoWall2.svg"></img>
    </div>

</div>