.hero {

    .stencilDark {
        background: linear-gradient(270deg, #6C26FF, #BA26FF, #6C26FF);
        background-size: 200% 200%;
        animation: gradient-animation 3s linear infinite;
    }

    .tabs {

        height: 40px;

        .label {
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            letter-spacing: -0.03em;
            display: inline-block;
            padding-left: 8px;
        }
        .tab {
            display: inline-block;
            padding: 0px 20px;
            border-radius: 6px 6px 0px 0px;
            float: right;
            background: #F2F2F2;
            color: black;
            text-decoration: none;
            margin-left: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            span {
                font-weight: 600;
                padding-right: 10px;
            }
        }
        .active {
            color: white;
            // background: #77789d; // TODO: Placehold
            background-color: #FF0000;
            cursor: default;
        }
    }

    .bigBlock {
        background: #000000;
        // @include backgroundImage('/assets/images/heroBackground.webp', '/assets/images/heroBackground2x.webp');
        @include backgroundImage('https://placehold.co/728x1208/red/white', 'https://placehold.co/1456x2416/red/white');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 200px 32px 32px 32px;
        border-radius: 6px 0px 6px 6px;

        h1 {
            font-weight: 500;
            font-size: 50px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.03em;
            margin-bottom: 32px;
            color: white;
        }
        h2 {
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: white;
            margin-bottom: 200px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 160.71%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        .video {
            margin-bottom: 64px;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .logoWall, .logoWall2 {
            width: 100%;
        }
        .logoWall2 {
            display: none;
        }
        &__notice {
            margin-top: 16px;
            text-align: right;
            color: rgba(#FFFFFF, .8);
            font-size: 16px;
            font-weight: 300;
            line-height: 1.25;
        }
    }

    @media (max-width: 567px) {

        .tabs {

            height: 32px;
    
            .label {
                line-height: 32px;
                font-size: 12px;
                padding-left: 0;
            }
            .tab {
                padding: 0px 12px;
                font-size: 12px;
                line-height: 32px;;

                span {

                    display: none;
                }
            }
        }

        .bigBlock {

            padding: 30% 16px 50px 16px;

            h1 {
                font-size: 32px;
                padding-right: 5%;
                padding-left: 5%;
                line-height: 110%;
            }
            h2 {
                font-size: 14px;
                margin-bottom: 25%;
                padding-right: 10%;
                padding-left: 10%;
                br {
                    display: none;
                }
            }
            .video {
                margin-bottom: 40px;
            }
            .logoWall {
                display: none;
            }
            .logoWall2 {
                display: block;
                padding-right: 5%;
                padding-left: 5%;
                box-sizing: border-box;
            }
        }
    }
}

