<div class="team block" id="team">
    <div class="team__card">
        <h2 class="team__title">Team you can trust</h2>

        <div class="team__details">
            <section class="team__detail">
                <h3 class="team__detail-title">22 Years of experience</h3>
                <p class="team__detail-copy">
                    Our team of developers are constantly improving our addons to expand capabilities and ensure support for latest Blender releases.
                    <a href="https://www.physicaladdons.com/psa/release-notes/" target="_blank">Release notes</a>
                </p>
            </section>

            <section class="team__detail">
                <h3 class="team__detail-title">Dedicated support</h3>
                <p class="team__detail-copy">
                    Our team and vibrant Discord community will help you with any difficulties along side your journey.
                    <a href="https://discord.gg/wvzPVzj9Vr" target="_blank">Join our Discord</a>
                </p>
            </section>
        </div>

        <div class="team__speaker">Martins Upitis co-founder of Physical Addons</div>

        <a class="team__keynote" href="https://www.youtube.com/watch?v=hLKSudM6BcQ&t=24s" target="_blank">
            Watch <strong>BCON25</strong> Keynote
        </a>
    </div>
</div>