.pricing {
    @include respond-below(sm) {
        display: none;
    }

    &__title {
        @extend .h2;
    }
    &__subtitle {
        @extend .h2;
        float: left;
    }

    &__table {
        // padding-right: 16px;
        // padding-left: 16px;
    }
    &__psapco {
        margin-left: 30%;
    }
    &__bundle {
        margin-top: 32px;
    }
    

    table { 
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th, td {
            // width: 33.3333%;
            padding: 12px 16px 32px 12px;
            text-align: left;
            vertical-align: top;
        }
        th, td {
            box-sizing: border-box;
            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(n+1) {
                // width: calc((100% - 224px) / 3)
            }
        }
        td em {
            font-size: 30px;
            font-weight: 300;
            line-height: 36px;
            background: radial-gradient(50% 50% at 50% 50%, #6C26FF 45.31%, #BA26FF 100%), #000000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            &.modified {
                font-size: 16px;
                line-height: 19px;
            }
        }
        thead {
            tr {
                border-bottom: 1px solid #DCDCDC;
    
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #DCDCDC;
                &:last-child {
                    border-bottom: none;
                }

                td {
                    border-right: 1px solid #DCDCDC;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
            
        }
        

        tfoot {
            background-color: #F2F2F2;
            // Border radiuses for TD elements
            tr:first-child td:first-child {
                border-top-left-radius: 6px;
            }
            
            tr:first-child td:last-child {
                border-top-right-radius: 6px;
            }
            
            tr:last-child td:first-child {
                border-bottom-left-radius: 6px;
            }
            
            tr:last-child td:last-child {
                border-bottom-right-radius: 6px;
            }

            td {
                height: 174px;
                padding: 12px 16px 16px 16px;
                border-right: 1px solid #DCDCDC;
                &:last-child {
                    border-right: none;
                }
            }
            p {
                margin-top: 8px;
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
                color: rgba(#000000,.5);
                a {
                    color: rgba(#000000,.5);
                }
            }

        }

        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }
    
        h4 {
            position: relative;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            a {
                color: #000000;
            }
        }

    }

    &__price {
        margin-top: 2px;
        div {
            display: inline-block;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: #000000;
            &+div {
                color: #BFBFBF;
                text-decoration: line-through;
            }
        }
    }
    &__flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .discountRow {
        td {
            height: 100%;
            background: radial-gradient(59.42% 59.42% at 56.82% 56.82%, #6C26FF 45.31%, #BA26FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #D9D9D9;
            color: white;
            text-align: center;
            line-height: 32px;
            font-weight: 500;
            padding: 6px;
        }
    }
    .demoRow {
        td {
            height: 100%;
            background: radial-gradient(59.42% 59.42% at 56.82% 56.82%, #6C26FF 45.31%, #BA26FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #D9D9D9;;
            color: white;
            text-align: center;
            line-height: 32px;
            font-weight: 500;
            padding: 6px 16px;
        }
        h2 {
            float: left;
            display: inline-block;
            font-weight: 400;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: #d1a8ff;
                }
            }
        }
        .tooltip {
            height: 16px;
        }
        img {
            width: 16px;
            height: 22px;
        }
        .infotrgr {
            float: right;
            height: 32px;
            width: 20px;
        }

    }

    .infotrgr {
        cursor: pointer;
    }
    .infotrgr:hover+.infomsg {
        display: block;
    }
    .infomsg {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        box-sizing: border-box;
        width: 240px;
        padding: 16px;
        display: none;
        border-radius: $default-radius;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
        background-color: #1E1E1E;
        color: rgba(#FFFFFF, .7);
        z-index: 2;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.2;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-color: #1E1E1E;
            left: 94px;
            transform: rotate(45deg);
            top: -6px;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            background-color: transparent;
            left: 0px;
            top: -15px;
            z-index: 3;
        }
        &:hover {
            display: block;
        }
        a {
            color: rgba(#FFFFFF, .7);
        }
    }

    // p {
    //     display: inline-block;
    //     width: calc(100% - 57px);
    //     font-weight: 400;
    //     font-size: 12px;
    //     line-height: 140%;
    // }

    @media (max-width: 500px) {

        table {
            display: block;
        }
        
        thead {
            display: none;
        }
        
        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;
            border: none !important;
        }
        
        td,
        th {
            display: block;
            padding: 0px 0px 8px 0px !important;
        }

        h4 {
            font-size: 20px;
            border-bottom: 1px solid #DCDCDC;
            padding-bottom: 8px;
            margin-top: 20px;
        }

        p {
            width: calc(100% - 64px);
        }
        
        td:nth-child(1),
        th:nth-child(1) {
            width: 100%;
        }
        
        td:nth-child(2),
        th:nth-child(2),
        td:nth-child(3),
        th:nth-child(3) {
            width: 50%;
        }
        
        // tr:last-child {
        //     td {
        //       border-bottom: none;
        //     }
        // }
    }
}


.pricing-mobile {
    position: relative;
    display: none;
    @include respond-below(sm) {
        display: block;
    }

    &__title {
        @extend .h2;
        // margin-bottom: 32px;
    }
    &__refund {
        position: absolute;
        right: 0;
        top: 15px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: rgba(#000000, .5);
        a {
            color: inherit;
        }
    }
    &__packs {
        background: #F2F2F2;
        border-radius: $default-radius;
    }
    &__psapco {
        margin-top: 12px;
        .btn {
            bottom: auto !important;
            top: 16px !important;
            right: 16px !important;
        }
        .bundle__footer {
            position: static;
        }
        position: relative;
    }
}