.comparison {

    &__title {
        @extend .h2;
    }

    .comparison__table {
        padding-right: 16px;
        padding-left: 16px;
    }

    table { 
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            width: 33.3333%;
            padding: 16px 16px 48px 0px;
            text-align: left;
            vertical-align: top;
        }

        tr {
            border-bottom: 1px solid #DCDCDC;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    h3 {
        font-size: 30px;
        font-weight: 500;
    }

    h4 {
        font-size: 20px;
    }

    img {
        display: inline-block;
        vertical-align: top;
        padding-right: 16px;
        margin-top: -4px;
    }
    .imgException {
        margin-top: 0px;
    }

    p {
        display: inline-block;
        width: calc(100% - 57px);
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
    }

    @media (max-width: 500px) {

        table {
            display: block;
        }
        
        thead {
            display: none;
        }
        
        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;
            border: none !important;
        }
        
        td,
        th {
            display: block;
            padding: 0px 0px 8px 0px !important;
        }

        h4 {
            font-size: 20px;
            border-bottom: 1px solid #DCDCDC;
            padding-bottom: 8px;
            margin-top: 20px;
        }

        p {
            width: calc(100% - 64px);
        }
        
        td:nth-child(1),
        th:nth-child(1) {
            width: 100%;
        }
        
        td:nth-child(2),
        th:nth-child(2),
        td:nth-child(3),
        th:nth-child(3) {
            width: 50%;
        }
        
        tr:last-child {
            td {
              border-bottom: none;
            }
        }
    }
}
