<div class="comparison block" id="comparison">

	<h2 class="comparison__title">Pricing</h2>

	<div class="comparison__table"> 

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h3>Basic</h3>
                    </th>
                    <th>
                        <h3>Studio</h3>
                    </th>
                    <th>
                        <h3>Enterprise</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><h4>Users</h4></td>
                        <td><em>1</em></td>
                        <td><em>7</em></td>
                        <td><em>Custom</em></td>
                    </tr>
                    <tr>
                        <td><h4>Free Updates</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>New Features</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>10 Presets</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4 class="underline">Free Updates</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>GPL license</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Dedicated Support</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Early access</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized feature and bug requests</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized Support</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <h4>Prioritized Support</h4>
                        <div class="pricing__finfo">
                            <p class="pricing__refund">30 day <a href="https://support.blendermarket.com/article/22-refund-policy">refund policy</a></p>
                            p.pricing_
                        </div>
                        
                    </td>
                    <td></td>
                    <td></td>
                    <td><img src="assets/images/icons/ir.svg"></img></td>
                </tr>
            </tfoot>
        </table> 
	</div>
</div>