<div class="pricing block" id="pricing">

	<h2 class="pricing__title">Pricing</h2>

	<div class="pricing__table"> 

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h3>Basic</h3>
                    </th>
                    <th>
                        <h3>Studio</h3>
                    </th>
                    <th>
                        <h3>Enterprise</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><h4>Users</h4></td>
                        <td><em>1</em></td>
                        <td><em>7</em></td>
                        <td><em class="modified">Custom</em></td>
                    </tr>
                    <tr>
                        <td><h4>Free Updates</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>New Features</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>10 Presets</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4><a href="https://discord.gg/wvzPVzj9Vr" target="_blank">Discord community</a></h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>
                                GPL license
                                <img class="infotrgr" src="assets/images/icons/info.svg" alt="Info Icons" style="position: relative; top: 4px;">
                                <div class="infomsg">All artworks made using our addon belong to you and can be used for commercial purposes. No need for attribution. <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Read more about GPL license</a>.</div>
                            </h4>
                        </td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Dedicated Support</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Early access</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized feature and bug requests</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized Support</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="pricing__flex">
                            <h4>Select your plan</h4>
                            <div class="pricing__finfo">
                                <p class="pricing__refund">30 day <a href="https://support.blendermarket.com/article/22-refund-policy" target="_blank">refund policy</a></p>
                                <p class="pricing__contactus">Feel free to <a href="https://www.physicaladdons.com/psa/contacts/" target="_blank">contact us</a> in case you have questions.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Basic</h4>
                                <p>One time payment</p>
                                <div class="pricing__price">$58</div>
                            </div>
                            <div>
                                <a href="#" class="btn btn--primary" onclick="window.parent.scrollTo(0, 0);">Select</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Studio</h4>
                                <p>One time payment</p>
                                <div class="pricing__price">$328</div>
                            </div>
                            <div>
                                <a href="https://blendermarket.com/products/physical-starlight-and-atmosphere?variant=2892" class="btn btn--primary">Select</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Enterprise</h4>
                                <p>Custom pricing</p>
                            </div>
                            <div>
                                <a href="https://www.physicaladdons.com/psa/contacts/" class="btn btn--secondary" target="_blank">Contact Us</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
            </tfoot>
        </table> 
	</div>
</div>