$default-radius: 6px;

.wrapper {
    max-width: 832px;
    overflow: hidden;
}

.block {
    margin-bottom: 100px;
    @include respond-below(sm) {
        margin-bottom: 100px;
    }
}

.debug {
    box-sizing: border-box;
    padding: 16px;
    border: 3px solid;
    border-radius: 12px;
}

.debug--red {
    background: #fff2f2;
    border-color: #d71920;
}

.debug--yellow {
    background: #fff8df;
    border-color: #d19b00;
}