<div class="upgrade block">
    <div class="upgrade__card">
        <h2 class="upgrade__title">Upgrade from PSA to PA<sup>2</sup></h2>

        <p class="upgrade__copy">
            For our previous PSA (Physical Starlight and Atmosphere) users we give extra 70% discount so you can upgrade with ease.
            Use code <strong>ATMOSPHERE</strong>. If something doesn't work
            <a href="https://www.physicaladdons.com/psa/contacts/" target="_blank" rel="noreferrer noopener">contact us</a>
            and we will give you discount manually.
        </p>
    </div>
</div>
