<div class="upgrade block">
    <div class="upgrade__card">
        <h2 class="upgrade__title">Upgrade from PSA to <span class="upgrade__title-accent">PA<sup>2</sup></span></h2>

        <p class="upgrade__copy">
            For our previous PSA, you'll always have a 50% discount to upgrade, even after the launch sale.
            Use code <strong>ATMOSPHERE</strong> at checkout. If something doesn't work
            <a href="https://www.physicaladdons.com/psa/contacts/" target="_blank" rel="noreferrer noopener">contact us</a>
            and we will give you the discount manually.
            <i>Note: during sales, discount codes don't work on Superhive Market.</i>
        </p>
    </div>
</div>
