<div class="team block" id="team">

    <div class="topRow">
        <h2 class="gallery__title">Team you can trust</h2>
        <img src="assets/images/team/logoIcon.svg"></img>
    </div>

    <div class="sideBySideRows">

        <div class="leftSide">
            <div>
                <img class="" src="assets/images/team/martinsTag.svg"></img>
                <a href="https://www.youtube.com/watch?v=81piUPfjXfY&ab_channel=Blender" target="_blank">Watch <b>BCON22</b> Keynote</a>
            </div>
        </div>

        <div class="rightSide">
            <div>
                <h3><img class="" src="assets/images/team/arrrowTop.svg"></img> Regular updates</h3>
                <p>Our team of developers are constantly improving our addons to expand capabilities and ensure support for latest Blender releases. <!--a href="https://www.physicaladdons.com/pow/release-notes/" target="_blank">Release notes</a--></p>
            </div>
            <div>
                <h3><img class="" src="assets/images/team/discordSmall.svg"></img> Dedicated support</h3>
                <p>Our team and vibrant Discord community will help you with any difficulties along side your journey. <a href="https://discord.gg/wvzPVzj9Vr" target="_blank">Join our Discord</a></p>
            </div>
        </div>

    </div>

</div>