<div class="updates block" id="updates">

    <h2 class="updates__title">
	    Next Updates
    </h2>

    <table class="updates__table">
    
        <tr>
            <td>
                <h4>1.0</h4>
                <div>Jan 2024</div>
            </td>
            <td>
                <h5>Atmosphere with 6 Layers</h5>
                <p>In our upcoming update, we're enhancing planetary realism with a six-layer atmospheric model for full customization.</p>
                <p><b>Lower Aerosol layer</b> influences visibility and subtly shifts surface coloration, vital for realistic light-particle interaction.</p>
                <p><b>Clouds layer</b> above introduces dynamic, changing weather patterns, essential for creating authentic weather impacts.</p>
                <p><b>Rayleigh Scattering layer</b> takes charge of light diffusion, coloring the sky blue during the day and adding reds and oranges at sunset.</p>
                <p><b>Ozone layer</b> subtly alters higher altitude sky colors, absorbing ultraviolet light and adding atmospheric depth.</p>
                <p><b>Airglow layer</b>, higher in the atmosphere, simulates the faint light emission, crucial for night sky realism.</p>
                <p><b>Aurora layer</b> brings to life the dazzling polar light shows, resulting from solar particles interacting with magnetic fields.</p>
                <p>Together, these layers form a finely tuned system, crucial for realistic, high-fidelity planetary atmospheres.</p>
            </td>
        </tr>
    </table>
</div>